<!DOCTYPE html>
<html>
<head>
  <title>My index</title>
  <!-- inject:css -->

  <link rel="stylesheet" href="/vendor/css/main-0.0.1.css">

  <!-- endinject -->
</head>
<body>

	{% block content %}{% endblock %}
  <!-- inject:js -->

  <script src="/vendor/js/main-0.0.1.js"></script>

  <!-- endinject -->
</body>
</html>