{% extends "/src/browser/layouts/layout.html.twig" %}

{% import '/src/browser/views/macro.hello.twig' as helloHelper %}



{% block content %}

<div class="container">

    {% for item in 1..5 %}
    	{{ helloHelper.hello(item,name) }}
	{% endfor %}
</div>

{% endblock %}
